@model PrespaEvents.Web.Models.DTO.CategoryEventsViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .card {
        /*background-color: cornflowerblue;*/
        /*opacity: 0.7;*/
        width: 20rem;
        height: 100%;
        margin-bottom: 20px;
        border: 1px solid gray;
        border-radius: 5px;
    }
</style>

<div class="container">
    <div class="m-3">
        <div class="row">
            <div class="col-md-6">
                <a class="btn btn-outline-primary" asp-controller="Events" asp-action="Create">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2" />
                    </svg> Add new Event
                </a>
            </div>
            <div class="col-md-6">
                <form asp-action="Index" asp-controller="Events" method="get" class="form-inline float-md-right">
                    <div class="form-group">
                        @*<label asp-for="SelectedCategoryId" class="control-label mr-2">Select Category</label>*@
                        <select asp-for="SelectedCategoryId" asp-items="@Model.Categories" class="form-control mr-2">
                            <option value="">All Categories</option>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary">Filter</button>
                </form>
            </div>
        </div>
    </div>

    @for (int i = 0; i < Model.Events.Count; i++)
    {
        var item = Model.Events[i];

        if (i % 3 == 0)
        {
            @:<div class="row">
            }

            <div class="col-md-4 mb-4">
                <div class="card">
                    <img class="card-img-top" src="@item.EventImage" alt="Image for event!" />
                    <div class="card-body">
                        <h5 class="card-title">@item.EventName</h5>
                        <p class="card-text">@item.EventDescription</p>
                        <p><i>Date: </i>@item.EventDate</p>
                        <p><i>Price: </i><b>@item.EventPrice Den</b></p>
                    </div>

                    <div class="card-footer">
                        <a title="Details" asp-controller="Events" asp-action="Details" asp-route-id="@item.Id" class="btn btn-outline-secondary">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5" />
                            </svg>
                        </a>

                        <a title="Edit" style="margin-left: 10px;" asp-controller="Events" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-warning">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                                <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z" />
                            </svg>
                        </a>
                        <a title="Edit" style="margin-left: 10px;" asp-controller="Events" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-outline-danger">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                                <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5M8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5m3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0" />
                            </svg>
                        </a>

                        <a title="Add to cart" style="float:right;" asp-controller="Events" asp-action="AddEventToCard" asp-route-id="@item.Id" class="btn btn-outline-success">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bag-plus" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M8 7.5a.5.5 0 0 1 .5.5v1.5H10a.5.5 0 0 1 0 1H8.5V12a.5.5 0 0 1-1 0v-1.5H6a.5.5 0 0 1 0-1h1.5V8a.5.5 0 0 1 .5-.5" />
                                <path d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1m3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1z" />
                            </svg>
                        </a>
                    </div>
                </div>
            </div>

            if (i % 3 == 2)
            {
            @:</div>
        }
    }
</div>
